name: run-http-count

# Only run this when the master branch changes
on:
  workflow_dispatch:
  push:
    branches:
    - main
  schedule:
    - cron:  '30 3 * * *'

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        pip install jsonlines
        pip install requests
        
    - name: Run http count script
      run: python count_orgs_http.py
    
    - name: Run script to add numbers csv file
      run: python record_http_stats.py

    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        publish_dir: ./
